@tailwind base;
@tailwind components;
@tailwind utilities;

/* shadcn reset */
html {
  --background: #000;
  --foreground: #fff;
  --card: #111;
  --border: #333;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
